<h1>About Us</h1>
<p>We want to help you find the medical aid that is right for you. To do that, we have taken the latest technology and combined it with your personal lifestyle information to give you the best options for you.</p>
<h2>How do we do that?</h2>
<p> When you sign in, you will allow us to connect to your fitness tracker and your social media. You will also be able to upload any previous medical aid claims. Our system will analyse the information and provide you with the best medical aid options. 
