<h1>About Us</h1>
<p>We are not only techies and business people, but also family men and women and we believe that spending quality time with children is really important. We built our own businesses so that we could be around when our children are growing up. But, sometimes we found it so difficult to combine work with parent baby time. Nanny Now was born out of the need to spend time with our children, but also to build our businesses. .</p>
