<div class="jumbotron">
<h1>Welcome to the MediApp</h1>
<div class="btn-group">
<div class="btn-group">
<p><%= link_to "Sign Up", "#", class: "btn btn-primary"%></p>
</div>
<div class="btn-group">
<p><%= link_to "Sign In", "signin", class: "btn btn-primary"%></p>
</div>
</div
</div>
