<h1>How it works</h1>

<p>Step 1</p>
<p>Schedule a nanny</p>
<br>
<p>Step 2</p>
<p>The closest nanny is assigned</p>
<br>
<p>Step 3</p>
<p>The nanny takes care of your baby</p>
<br>
All for a R200/hour fee 
