<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="..." alt="...">
      <div class="caption">
        <h3>MediApp</h3>
        <p>MediApp is an online platform that will help find the right medical aid for you.</p>
        <p><a href="#" class="btn btn-primary" role="button">Sign Up</a> <a href="signin" class="btn btn-default" role="button">Sign In</a></p>
      </div>
    </div>
  </div>
</div>
